html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 31px;
}

.main__catalog {
  padding: 0;
}

@media (max-width: 1250px) {
  .container {
    max-width: 982px;
  }

  .main {
    padding-top: 29px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 654px;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 326px;
  }
}

.--visible {
  display: block !important;
}

.--invisible {
  display: none !important;
}

.btn {
  color: $color-medium-purple;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 17px 33px;
  border: 2px solid $color-medium-purple;
  border-radius: 10px;
  max-width: fit-content;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.btn:focus {
  color: $color-white;
  background-color: $color-mauve;
}

.btn:hover {
  color: $color-white;
  background-color: $color-medium-purple;
}

.btn:active {
  color: $color-white;
  background-color: $color-purple-heart;
  border-color: $color-purple-heart;
}

// Отключение стрелок у инпутов с типом number

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// * {
//   outline: solid 1px red;
// }
