$color-medium-purple: #A65CF0;
$color-mine-shaft: #333333;
$color-blue-chalk: #EBD1FF;
$color-purple-heart: #7033AC;
$color-gallery: #EAEAEA;
$color-mauve: #C998FB;
$color-dove-gray: #666666;
$color-white: #FFFFFF;
$color-magnolia: #F8EFFF;
$color-wild-sand: #F6F6F6;
$color-dusty-gray: #999999;
$color-crusta: #FF862F;
$color-milk-punch: #FFF5D1;
$color-koromiko: #FFBD59;
$color-straw: #D5B986;
$color-rust: #BB370E;
$color-wild-watermelon: #FF6972;
$color-sulu: #B8EC64;

$color-modal-bg: rgba(51, 51, 51, .3);
