.feedback {
  padding: 73px 0 70px 0;

  &__title {
    color: $color-mine-shaft;
    font-size: 32px;
    line-height: 100%;
    max-width: fit-content;
    margin-bottom: 9px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
  }

  &__wrapper::after {
    grid-column: 2;
    content: '';
    background-image: url(../img/feedback/bg-1920.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 383px;
    height: 100%;
    transform: translateY(-19px);
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__text {
    color: $color-dove-gray;
    font-size: 14px;
    margin-bottom: 13px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    color: $color-mine-shaft;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid $color-wild-sand;
    border-radius: 10px;
    background-color: $color-wild-sand;
    padding: 7px 18px;
    transition: border-color .3s ease, background-color .3s ease;
  }

  &__input::placeholder {
    color: $color-dusty-gray;
    font-size: 16px;
  }

  &__input:focus {
    border-color: $color-medium-purple;
    background-color: $color-magnolia;
  }

  &__input:hover {
    border-color: $color-gallery;
    background-color: $color-gallery;
  }

  &__btn {
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid $color-medium-purple;
    border-radius: 10px;
    background-color: $color-medium-purple;
    padding: 13px 31px;
    max-width: fit-content;
    transition: border-color .3s ease, background-color .3s ease;
    margin-bottom: 10px;
  }

  &__btn:focus {
    border-color: $color-purple-heart;
    background-color: $color-mauve;
  }

  &__btn:hover {
    border-color: $color-mauve;
    background-color: $color-mauve;
  }

  &__btn:active {
    border-color: $color-purple-heart;
    background-color: $color-purple-heart;
  }

  &__checkbox-wrapper {
    position: relative;
  }

  &__checkbox-wrapper &__label-error:last-child {
    top: -10px;
  }

  &__label {
    color: $color-mine-shaft;
    font-size: 14px;
    position: relative;
    margin-bottom: 30px;
  }

  &__label:last-of-type {
    margin-bottom: 27px;
  }

  &__real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__real-checkbox:focus + &__custom-checkbox {
    box-shadow: 0px 0px 0px 1px $color-medium-purple, 0px 0px 10px $color-medium-purple;
  }

  &__custom-checkbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: $color-white;
    border: 1px solid $color-dusty-gray;
    border-radius: 2px;
    vertical-align: sub;
    margin-right: 4px;
    position: relative;
    transition: background-color .3s ease, border-color .3s ease;
  }

  &__custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 9px;
    background-image: url(../img/icons/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .3s ease;
  }

  &__real-checkbox:checked + &__custom-checkbox {
    background-color: $color-medium-purple;
    border-color: $color-medium-purple;
  }

  &__real-checkbox:checked + &__custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &__link-agreement {
    position: relative;
    color: $color-medium-purple;
    font-size: 14px;
    text-decoration: underline !important;
    transition: color .3s ease;
  }

  &__link-agreement::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -3px;
    background-color: $color-blue-chalk;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__link-agreement:focus-visible {
    outline: none;
  }

  &__link-agreement:focus-visible::before {
    opacity: 1;
  }

  &__link-agreement:hover {
    color: $color-dusty-gray;
  }

  &__link-agreement:active {
    color: $color-purple-heart;
  }

  &__label-error {
    position: absolute;
    top: -17px;
    left: 21px;
    color: $color-wild-watermelon !important;
    font-size: 12px;
  }

  &__input-error {
    border-color: $color-wild-watermelon !important;
  }

  &__input-success {
    border-color: $color-sulu !important;
  }
}

.feedback-tooltip {
  position: relative;
  display: inline-block;
  vertical-align: sub;

  &__btn {
    width: 14px;
    height: 14px;
  }

  .path-default {
    transition: opacity .3s ease, visibility .3s ease;
  }

  .path-active {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
  }

  &__btn:hover + &__text,
  &__btn:focus + &__text {
    opacity: 1;
    visibility: visible;
  }

  &__btn:focus &__svg .path-active {
    opacity: 1;
    visibility: visible;
  }

  &__btn:focus &__svg .path-default {
    opacity: 0;
    visibility: hidden;
  }

  &__btn:hover &__svg .path-active {
    opacity: 1;
    visibility: visible;
  }

  &__btn:hover &__svg .path-default {
    opacity: 0;
    visibility: hidden;
  }

  &__text {
    position: absolute;
    left: 50%;
    top: -62px;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    background-color: $color-mine-shaft;
    padding: 5px;
    color: $color-white;
    transform: translateX(-50%);
    z-index: 1;
    min-width: 157px;
    min-height: 52px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
  }

  &__text::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 17px;
    height: 8px;
    border-style: solid;
    border-width: 8px 8.5px 0 8.5px;
    border-color: $color-mine-shaft transparent transparent transparent;
  }
}

@media (max-width: 1250px) {
  .feedback {
    padding: 70px 0 70px 0;

    &__wrapper {
      grid-template-columns: repeat(9, 1fr);
    }

    &__wrapper::after {
      grid-column: 5 / 10;
      background-size: contain;
    }

    &__content {
      grid-column: 1 / 5;
    }

    &__text {
      margin-bottom: 13px;
    }
  }
}

@media (max-width: 950px) {
  .feedback {
    &__wrapper {
      grid-template-columns: repeat(6, 1fr);
    }

    &__wrapper::after {
      grid-column: 5 / 7;
      background-size: cover;
      background-image: url(../img/feedback/bg-768.png);
    }

    &__btn {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 650px) {
  .feedback {
    padding: 70px 0 68px 0;

    &__title {
      font-size: 24px;
    }

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__wrapper::after {
      content: none;
    }

    &__content {
      grid-column: unset;
    }

    &__text {
      margin-bottom: 13px;
    }

    &__label {
      font-size: 12px;
    }

    &__link-agreement {
      font-size: 12px;
    }

    &__label:last-of-type {
      margin-bottom: 27px;
    }
  }
}
