.header {
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $color-wild-sand;
  z-index: -1;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 14px 0;

  &__select-region {
    display: flex;
    align-items: center;
    margin-right: 18px;
  }

  &__region {
    color: $color-mine-shaft;
    font-size: 16px;
    line-height: 120%;
    margin-right: 5px;
    min-width: fit-content;
  }

  &__choices {
    width: 87px;
    color: $color-medium-purple;
    margin-bottom: 0;
    transition: color .3s ease;
    overflow: unset;
  }

  &__choices::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
    width: 80px;
    height: 23px;
    z-index: -1;
    background-color: $color-blue-chalk;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &__choices.is-focused {
    color: $color-purple-heart;
  }

  &__choices.is-focused::before {
    opacity: 1;
  }

  &__choices.is-focused[data-type*=select-one]::after {
    border-color: $color-purple-heart;
  }

  &__choices.is-focused[data-type*=select-one].is-open::after {
    border-color: $color-purple-heart;
  }

  &__choices:hover {
    color: $color-mauve;
  }

  &__choices:hover[data-type*=select-one]::after {
    border-color: $color-mauve;
  }

  &__choices:hover[data-type*=select-one].is-open::after {
    border-color: $color-mauve;
  }

  &__choices:active {
    color: $color-purple-heart;
  }

  &__choices:active[data-type*=select-one]::after {
    border-color: $color-purple-heart;
  }

  &__choices:active[data-type*=select-one].is-open::after {
    border-color: $color-purple-heart;
  }

  &__choices-inner {
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 16px;
    min-height: 0;
    background-color: unset;
  }

  &__choices[data-type*=select-one] &__choices-inner {
    padding: 0;
  }

  &__choices[data-type*=select-one]::after {
    top: 10px;
    right: 14px;
    width: 8px;
    height: 8px;
    border: none;
    border-top: 1px solid $color-medium-purple;
    border-right: 1px solid $color-medium-purple;
    transform: rotate(135deg);
    transition: transform .3s ease, border-color .3s ease;
  }

  &__choices[data-type*=select-one].is-open::after {
    border-color: unset;
    border-top: 1px solid $color-medium-purple;
    border-right: 1px solid $color-medium-purple;
    transform: rotate(320deg);
    margin: 0;
  }

  &__choices-list {
    padding: 0;
  }

  &__choices-list .choices__list--dropdown, .choices__list[aria-expanded] {
    border: 2px solid $color-wild-sand;
    border-radius: unset;
    top: 28px;
  }

  &__choices-item {
    transition: color .3s ease;
  }

  &__choices-item .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    padding: 4px 16px;
    color: $color-mine-shaft;
    font-size: 14px;
    line-height: 130%;
  }

  &__choices-item .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item:first-child {
    padding-top: 16px;
  }

  &__choices-item .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item:last-child {
    padding-bottom: 16px;
  }

  &__choices-item .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: unset;
    color: $color-mauve;
  }

  &__link-phone {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: auto;
    color: $color-crusta;
    font-size: 14px;
    line-height: 100%;
    transition: color .3s ease;
  }

  &__link-phone::before {
    content: '';
    position: absolute;
    inset: -3px;
    background-color: $color-milk-punch;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &__link-phone:focus-visible {
    outline: none;
  }

  &__link-phone:focus-visible::before {
    opacity: 1;
  }

  &__link-phone:hover {
    color: $color-koromiko;
  }

  &__svg path {
    transition: fill .3s ease;
  }

  &__link-phone:hover &__svg path {
    fill: $color-koromiko;
  }

  &__link-phone:active {
    color: $color-rust;
  }

  &__link-phone:active &__svg path {
    fill: $color-rust;
  }

  &__list {
    display: flex;
    gap: 64px;
  }

  &__link {
    position: relative;
    color: $color-dusty-gray;
    font-size: 14px;
    line-height: 100%;
    transition: color .3s ease;
  }

  &__link::before {
    content: '';
    position: absolute;
    inset: -3px;
    background-color: $color-blue-chalk;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &__link:focus-visible {
    color: $color-purple-heart;
    outline: none;
  }

  &__link:focus-visible::before {
    opacity: 1;
  }

  &__link:hover {
    color: $color-medium-purple;
  }

  &__link:active {
    color: $color-purple-heart;
  }
}

.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0 30px 0;

  &__nav {
    padding-right: 4px;
  }

  &__logo-link {
    width: 187px;
    height: 27px;
    position: relative;
  }

  &__logo-link::before {
    content: '';
    position: absolute;
    inset: -3px;
    background-color: $color-blue-chalk;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &__logo-link:focus {
    outline: none;
  }

  &__logo-link:focus::before {
    opacity: 1;
  }

  &__logo-link:hover &__logo-img {
    filter: contrast(110%) brightness(1.1) saturate(1.1);
  }

  &__list {
    display: flex;
    gap: 91px;
  }

  &__link {
    position: relative;
    color: $color-mine-shaft;
    font-size: 16px;
    transition: color .3s ease;
  }

  &__link::before {
    content: '';
    position: absolute;
    inset: -3px;
    background-color: $color-blue-chalk;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &__link:focus-visible {
    outline: none;
  }

  &__link:focus-visible::before {
    opacity: 1;
  }

  &__link:hover {
    color: $color-medium-purple;
  }

  &__link:active {
    color: $color-purple-heart;
  }
}

.header-bottom {
  display: flex;
  align-items: center;

  &__form {
    width: 59.5%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: $color-wild-sand;
    padding: 18px 71px 18px 57px;
    border: 2px solid $color-wild-sand;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: border-color .3s ease;
  }

  &__svg-search path {
    transition: fill .3s ease;
  }

  &__form:focus-within {
    border-color: $color-medium-purple;
  }

  &__form:focus-within &__svg-search path {
    fill: $color-medium-purple;
  }

  &__form:hover {
    background-color: $color-gallery;
  }

  &__input {
    width: 100%;
    color: $color-mine-shaft;
    font-size: 16px;
    line-height: 120%;
  }

  &__input::placeholder {
    color: $color-dusty-gray;
    font-size: 16px;
    line-height: 120%;
  }

  &__svg-search {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
  }

  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }

  &__svg-btn circle,
  &__svg-btn path {
    transition: fill .3s ease, stroke .3s ease;
  }

  &__btn:focus &__svg-btn circle {
    fill: $color-mauve;
  }

  &__btn:focus &__svg-btn path {
    stroke: $color-white;
  }

  &__btn:hover &__svg-btn circle {
    fill: $color-medium-purple;
    stroke: $color-medium-purple;
  }

  &__btn:hover &__svg-btn path {
    stroke: $color-white;
  }

  &__btn:active &__svg-btn circle {
    fill: $color-purple-heart;
    stroke: $color-purple-heart;
  }

  &__btn:active &__svg-btn path {
    stroke: $color-white;
  }

  &__dropdown {
    margin-right: auto;
  }

  &__choices {
    width: 300px;
    color: $color-medium-purple;
    margin-bottom: 0;
    transition: color .3s ease;
    overflow: unset;
    z-index: 2;
  }

  &__choices.is-focused &__choices-inner {
    border-color: $color-medium-purple;
    background-color: $color-magnolia;
  }

  &__choices:hover &__choices-inner {
    border-color: $color-medium-purple;
  }

  &__choices:active &__choices-inner {
    border-color: $color-purple-heart;
  }

  &__choices-inner {
    padding: 18px 29px;
    border: 2px solid $color-white;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    min-height: 0;
    background-color: unset;
    transition: border-color .3s ease, background-color .3s ease;
  }

  &__choices[data-type*=select-one] &__choices-inner {
    padding-bottom: 19px;
  }

  &__choices[data-type*=select-one]::after {
    top: 30px;
    right: 35px;
    width: 8px;
    height: 8px;
    border: none;
    border-top: 1px solid $color-medium-purple;
    border-right: 1px solid $color-medium-purple;
    transform: rotate(135deg);
    transition: transform .3s ease, border-color .3s ease;
  }

  &__choices[data-type*=select-one].is-open::after {
    border-color: unset;
    border-top: 1px solid $color-medium-purple;
    border-right: 1px solid $color-medium-purple;
    transform: rotate(320deg);
    margin: 0;
  }

  &__choices.is-open .choices__inner {
    border-radius: 0 10px 10px 0;
  }

  &__choices-list {
    padding: 0;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
  top: calc(100% - 30px);
  padding-top: 30px;
  border: 2px solid $color-wild-sand;
  border-radius: unset;
  z-index: -1;
}

  &__choices-list .choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(minmax(4, 5) , 1fr);
    align-items: start;
    padding: 22px 30px;
    row-gap: 10px;
    column-gap: 30px;
  }

  &__choices-item .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    padding: 0;
    color: $color-mine-shaft;
    font-size: 14px;
    line-height: 130%;
  }

  &__choices-item .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: unset;
    color: $color-mauve;
  }

  &__user {
    display: flex;
    gap: 43px;
  }

  &__link-user {
    width: 26px;
    height: 28px;
    position: relative;
  }

  &__link-user::before {
    content: '';
    position: absolute;
    inset: -3px;
    background-color: $color-mauve;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &__link-user:focus-visible {
    outline: none;
  }

  &__link-user:focus-visible::before {
    opacity: 1;
  }

  &__svg-user path {
    transition: fill .3s ease;
  }

  &__link-user:focus-visible &__svg-user path {
    fill: $color-white;
  }

  &__link-user:hover &__svg-user path {
    fill: $color-mauve;
  }

  &__link-user:active &__svg-user path {
    fill: $color-purple-heart;
  }

  &__shopping {
    position: absolute;
    top: 5px;
    left: -11px;
    color: $color-white;
    font-size: 10px;
    font-weight: 700;
    background-color: $color-crusta;
    width: 14px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
  }

  &__link-basket {
    position: relative;
    width: 30px;
    height: 28px;
  }

  &__link-basket::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 49px;
    height: 34px;
    background-color: $color-mauve;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &__svg-basket path {
    transition: fill .3s ease;
  }

  &__link-basket:focus-visible {
    outline: none;
  }

  &__link-basket:focus-visible::before {
    opacity: 1;
  }

  &__link-basket:focus-visible &__svg-basket path {
    fill: $color-white;
  }

  &__link-basket:hover &__svg-basket path {
    fill: $color-mauve;
  }

  &__link-basket:active &__svg-basket path {
    fill: $color-purple-heart;
  }
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__placeholder {
  opacity: 1;
}

.is-selected {
  display: none;
}

.line-2 {
  display: none;
}

.burger {
  display: none;
  position: relative;
  z-index: 4;
  width: 24px;
  height: 24px;

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: $color-medium-purple;
    transition: transform .3s ease, top .3s ease, bottom .3s ease;
  }

  &__line:first-child {
    top: 0;
  }

  &__line:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease;
  }

  &__line:last-child {
    bottom: 0;
  }
}

.burger:focus {
  outline: none;
  box-shadow: 0px 0px 10px $color-medium-purple;
}

.burger--active .burger__line:first-child {
  transform: rotate(45deg);
  top: 50%;
}

.burger--active .burger__line:nth-child(2) {
  opacity: 0;
}

.burger--active .burger__line:last-child {
  transform: rotate(-45deg);
  top: 50%;
  bottom: auto;
}

@media (max-width: 1250px) {
  .header {
    &::before {
      top: 58px;
    }

    .header-top {
      justify-content: space-between;
      padding: 18px 0;

      &__select-region {
        margin-right: unset;
      }

      &__link-phone {
        margin-right: unset;
      }
    }

    .header-center {
      padding: 33px 0;

      &__list {
        gap: 41px;
      }
    }

    .header-bottom {

      &__form {
        width: 100%;
      }

      &__user {
        display: none;
      }
    }
  }

  .line-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .tablet {
    display: flex !important;
  }
}

@media (max-width: 950px) {
  .header {
    &__burger {
      display: block;
    }

    .header-top {
      &__nav {
        width: 100%;
      }

      &__list {
        gap: unset;
        justify-content: space-between;
      }
    }

    .header-center {
      padding: 36px 0 30px 0;

      &__nav-container {
        max-width: 654px;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
      }

      &__nav-container::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url(../img/burger-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 161px;
        height: 112px;
      }

      &__nav {
        position: absolute;
        top: 108px;
        left: 0;
        width: 100%;
        height: 300px;
        z-index: 3;
        background-color: $color-white;
        padding: 92px 0 60px 0;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
      }

      &__nav--visible {
        transform: none !important;
      }

      &__list {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
        max-width: fit-content;
        gap: 41px 64px;
      }

      &__link {
        visibility: hidden;
      }

      .header-center__nav.header-center__nav--visible .header-center__link {
        visibility: visible;
      }

      &__logo-link {
        transform: translateX(37px);
      }
    }

    .header-bottom {
      &__user {
        display: flex;
      }

      &__choices {
        width: 189px;
      }

      &__choices-list .choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(minmax(4, 5), 1fr);
        align-items: start;
        padding: 13px 7px;
        row-gap: 7px;
        column-gap: 7px;
      }
    }
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    z-index: 4;
  }

  .line-2 {
    padding: 12px 0;
  }

  .tablet {
    display: none !important;
  }
}

@media (max-width: 650px) {
  .header::before {
    top: 0;
  }

  .header {
    .header-top {
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 0;

      &__select-region {
        margin-bottom: 16px;
      }

      &__nav {
        position: absolute;
        top: 578px;
        left: 0;
        z-index: 2;
        background-color: $color-wild-sand;
        padding: 24px 0;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
      }

      &__link {
        visibility: hidden;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
      }

      &__item:nth-child(2) {
        text-align: end;
      }

      &__item:nth-child(4) {
        text-align: end;
      }

      &__mobile-container {
        max-width: 326px;
        padding: 0 15px;
        margin: 0 auto;
      }
    }

    .header-top__nav.header-center__nav--visible .header-top__link {
      visibility: visible;
    }

    .header-center {
      padding: 15px 0 28px 0;

      &__nav-container {
        max-width: 326px;
      }

      &__nav-container::after {
        content: none;
      }

      &__nav {
        top: 154px;
        height: 425px;
        padding: 62px 0 26px 0;
      }

      &__list {
        display: flex;
        flex-direction: column;
      }

      &__logo-link {
        transform: unset;
        align-self: center;
        margin-bottom: 28px;
      }
    }

    .header-bottom {
      flex-direction: column;
      align-items: unset;

      &__dropdown {
        margin-right: 0;
      }

      &__form {
        margin-bottom: 15px;
      }

      &__choices {
        width: 100%;
      }
    }
  }

  .line-2 {
    padding: 0;
  }
}
