.useful {
  &__wrapper {
    position: relative;
  }

  &__title {
    color: $color-mine-shaft;
    font-size: 32px;
    line-height: 100%;
    max-width: fit-content;
    margin-bottom: 26px;
  }

  &__item {
    background-color: $color-wild-sand;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
  }

  &__text {
    color: $color-mine-shaft;
    font-size: 24px;
    margin-bottom: 36px;
    flex-grow: 1;
  }

  &__swiper-btns {
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 13px;
  }

  &__swiper-button-next {
    width: 32px;
    height: 32px;
    position: static;
    margin-top: 0;
  }

  &__swiper-button-next svg circle {
    transition: fill .3s ease, stroke .3s ease;
  }

  &__swiper-button-next svg path {
    transition: stroke .3s ease;
  }

  &__swiper-button-next:focus svg circle {
    fill: $color-mauve;
  }

  &__swiper-button-next:focus svg path {
    stroke: $color-white;
  }

  &__swiper-button-next:hover svg circle {
    fill: $color-medium-purple;
  }

  &__swiper-button-next:hover svg path {
    stroke: $color-white;
  }

  &__swiper-button-next:active svg circle {
    fill: $color-purple-heart;
    stroke: $color-purple-heart;
  }

  &__swiper-button-next:active svg path {
    stroke: $color-white;
  }

  &__swiper-button-prev {
    width: 32px;
    height: 32px;
    position: static;
    margin-top: 0;
    transform: rotate(180deg);
  }

  &__swiper-button-prev svg circle {
    transition: fill .3s ease, stroke .3s ease;
  }

  &__swiper-button-prev svg path {
    transition: stroke .3s ease;
  }

  &__swiper-button-prev:focus svg circle {
    fill: $color-mauve;
  }

  &__swiper-button-prev:focus svg path {
    stroke: $color-white;
  }

  &__swiper-button-prev:hover svg circle {
    fill: $color-medium-purple;
  }

  &__swiper-button-prev:hover svg path {
    stroke: $color-white;
  }

  &__swiper-button-prev:active svg circle {
    fill: $color-purple-heart;
    stroke: $color-purple-heart;
  }

  &__swiper-button-prev:active svg path {
    stroke: $color-white;
  }

  &__swiper-button-prev::after {
    content: '';
  }

  &__swiper-button-next::after {
    content: '';
  }
}

@media (max-width: 1250px) {
  .useful {
    &__text {
      font-size: 16px;
      margin-bottom: 31px;
    }
  }
}

@media (max-width: 650px) {
  .useful {
    &__title {
      font-size: 24px;
    }

    &__wrapper {
      padding-bottom: 48px;
    }

    &__swiper-btns {
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &__content {
      padding: 33px 30px 30px 30px;
    }
  }
}
